@import '~@theforeman/vendor/scss/variables';

#preupgrade-report-entries-list-view {
  .sortable-header {
    &.active {
      color: $color-pf-blue-400;
    }

    &:hover {
      cursor: pointer;
    }

    .fa-angle-up, .fa-angle-down {
      margin-right: 10px;
    }
  }

  .list-view-pf-additional-info-item {
    flex: 1;
  }

  .list-view-header {
    border-top: 0px;
    background-color: $color-pf-white;
    border-left-color: $color-pf-white;
    border-right-color: $color-pf-white;

    .list-view-pf-description {
      font-size: 16px;
      font-weight: 600;
    }

    .list-view-pf-checkbox {
      margin-left: 17px;
    }
  }
}
