@import '~@theforeman/vendor/scss/variables';

.top-padded {
  padding-top: 8px;
}

.pre-wrap{
  white-space: pre-wrap;
}

.severity-low {
  color: $color-pf-blue-300;
}

.severity-medium {
  color: $color-pf-gold-400;
}

.severity-high {
  color: $color-pf-red-100;
}

.severity-unknown {
  color: $color-pf-black-500;
}
